.stepItemWrapper {
  display: grid;
  place-content: center;

  .stepItem {
    border: 1px solid var(--primary-color);
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: grid;
    place-content: center;
    margin: 0 auto;

    &.active {
      background-color: var(--primary-color);
      position: relative;

      &.line {
        &:before {
          content: "";
          width: 100px;
          height: 2px;
          background-color: var(--primary-color);
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: -100px;
        }
      }
    }

    span {
      font-size: 24px;
    }
  }

  p {
    font-size: 10px;
    text-align: center;

    &.active {
      font-weight: bold;
      border-bottom: 1px solid black;
      padding-bottom: 5px;
    }
  }
}
