@use "sass:color";

$primaryColor: #ffb522;

.button {
  background-color: $primaryColor;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
  font-size: 16px;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    background-color: darken($primaryColor, 10);
  }
}

a:not(.button) {
  color: $primaryColor;
  transition: color 0.3s ease-in-out;

  &:hover {
    cursor: pointer;
    color: darken($primaryColor, 10);
  }
}
